<li>
  <%= user.name %><br>
  <% if current_user.admin? && current_user?(user) %>
    <%= link_to "編集", basic_info_path(user), class:  "btn btn-lg btn-primary" %>
  <% else %>
    <%= link_to "削除", user, method: :delete,
                          data: { confirm: "削除してよろしいですか？" }, class:  "btn btn-md btn-primary" %><br>
    <%= link_to "編集", basic_info_path(user), class:  "btn btn-lg btn-primary" %>
  <% end %>
</li>
