<% provide(:title, '出勤社員一覧') %>

<h1>出勤中社員一覧</h1>

<table class="table-bordered table-condensed">
  <thead>
    <tr>
      <th class="col-xs-6">社員番号</th>
      <th class="col-xs-6">名前</th>
    </tr>
  </thead>
  <tbody>
    <% @working_user.each do | work | %>
      <tr>
        <td>
          <% if work.started_at.present? && work.finished_at.nil? %>
            <%= @user.employee_number %>
          <% end %>
        </td>
        <td>
          <% if work.started_at.present? && work.finished_at.nil? %>
            <%= @user.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>