<% provide(:class_text, '残業申請') %>
<% provide(:button_text, '更新') %>

<!--残業申請modal-->
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <h4 class="modal-title text-center"><%= "【上長Ｂからの残業申請】" %></h4>
        <table class="table-bordered table-condensed">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>指定勤務終了時間</th>
              <th>時間外時間</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
              <th>変更</th>
              <th>勤怠を確認する</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= l(@user.attendances.find_by(worked_on: params[:date]), format: :short) %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <div class="center btn-modal-update">
          <%= link_to "承認結果を送信する", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
    </div>
  </div>
</div>
