<% provide(:title, "勤怠ログ") %>
<input name="current_user_name" type="hidden" value="<%= current_user.id %>" class='current_user_id'>

<div class="container">
  <h1>勤怠ログ</h1>
  <div class="input-group" style="width: 150px;">
    <button class="btn btn-default" id="reset-btn">リセット</button>
		<div>
		  <p>年：
		    <select class="log_search" id="filter-year" role="menu">
		      <option value="2018">2018</option>
		      <option selected value="2019">2019</option>
		      <option value="2020">2020</option>
		    </select>
		  </p>
		</div>
  </div>
  
  <div class="input-group" style="width: 150px;">
    <div>
      <p>月：
        <select class="log-search" id="filter-month" role="menu">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option selected value="12">12</option>
        </select>
      </p>
    </div>
  </div>
  
  <div id="table_time_log">
    <%= render partial: 'table_time_log' %>
  </div>
  
  <script>
    USERID = $('.current_user_id').val();
    
    $('#filter-month').on('change', function() {
      var value_year = $('#filter-year').val()
      var value_month = $(this).val()
      $(function ajax(){ $.ajax({
        type: 'GET',
        url: "/ajax/",
        data: {
          value_year: value_year,
          value_month: value_month
        }
        // せいこう
      }).done(function(data, status, xhr) {
                $('#table_time_log').html(data.logs);
              })
        // しっぱい
        .fail(function() {
          console.error('error');
        })
      });
    });
    
    $('#filter-year').on('change', function() {
      var value_year = $(this).val();
      var value_month = $('#filter-month').val();
      $(function ajax(){ $.ajax({
        type: 'GET',
        url: "/ajax/",
        data: {
          value_year: value_year,
          value_month: value_month
        }
        // せいこう
      }).done(function(data, status, xhr) {
                $('#table_time_log').html(data.logs);
        })
        // しっぱい
        .fail(function() {
          console.error('error');
        })
      });
    });
    
    $('#reset-btn').on('change', function() {
      $('#months').attr('value', "<%= Time.zone.now.month %>");
      $('#year').attr('value', "<%= Time.zone.now.year %>");
      var value_year = $('#year').val()
      var value_month = $('#months').val()
      $(function ajax(){ $.ajax({
        type: 'GET',
        url: "/ajax/",
        data: {
          value_year: value_year,
          value_month: value_month
        }
        // せいこう
      }).done(function(data, status, xhr) {
        
                $('#table_time_log').html(data.logs);
        })
        // しっぱい
        .fail(function() {
          console.error('error');
        })
      });
    });
  </script>
</div>
